# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Environments
.env
venv/
ENV/
env/

# PyCharm / VS Code
.idea/
.vscode/

# Logs
*.log

# Cache
*.cache
.cache/

# Ignore JSON (optional)
visitors.json

#Sensetive
admin_credentials.json
# temp_users.json

#readme file
OTHERREADMEINFO.md

#folder
static/images/server-images/